<!-- TODO - replace this with a dynamically generated list -->
<section>
  <h1>Categories</h1>
  <a href="{{root_url}}/{{site.category_dir}}/aikido/">aikido</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/development/">development</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/japan/">japan</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/japanese/">japanese</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/misc/">misc</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/photos/">photos</a><br/>
  <a href="{{root_url}}/{{site.category_dir}}/tokyo-cow-parade/">tokyo-cow-parade</a><br/>
</section>
