<section>
  <h1>friends</h1>
   <a href="http://binkley.blogspot.com/" title="Brian Oxley">binkley</a><br/>
   <a href="http://blueskygreenfields.blogspot.com/" title="Mark Jones">Blue Sky Green Fields</a><br/>
   <a href="http://ericrch.wordpress.com/" title="Eric Holcomb">Little house in Ise</a><br/>
   <a href="http://blog.m1k3y.com/" title="m1k3y">m1k3y</a><br/>
   <a href="http://synesso.posterous.com/" title="Jeremy Mawson">Mawson's Hut</a><br/>
   <a href="http://mahemoff.com/" title="Michael Mahemoff">Mahemoff.com</a><br/>
   <a href="http://ccang.blogspot.com/" title="Chai Ang">Tired But Generally Willing</a><br/>
</section>
